%p#notice= notice

%p
  %b Ois request:
  = @request_author.ois_request
%p
  %b Person:
  = @request_author.person
%p
  %b Old lastname:
  = @request_author.old_lastname
%p
  %b Is teacher:
  = @request_author.is_teacher
%p
  %b Is staffteacher:
  = @request_author.is_staffteacher
%p
  %b Is student:
  = @request_author.is_student
%p
  %b Is postgrad:
  = @request_author.is_postgrad
%p
  %b Details:
  = @request_author.details

= link_to 'Edit', edit_request_author_path(@request_author)
\|
= link_to 'Back', request_authors_path
