%p#notice= notice

%p
  %b Funding source:
  = @source.funding_source
%p
  %b Creator login:
  = @source.creator_login
%p
  %b Creator data:
  = @source.creator_data

= link_to 'Edit', edit_source_path(@source)
\|
= link_to 'Back', sources_path
