%p#notice= notice

%p
  %b First name:
  = @person.first_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Second name:
  = @person.second_name
%p
  %b External ids:
  = @person.external_ids
%p
  %b Birthday:
  = @person.birthday
%p
  %b Creator login:
  = @person.creator_login
%p
  %b Creator data:
  = @person.creator_data

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
