%p#notice= notice

%p
  %b Name:
  = @scientific_school.name
%p
  %b Creator login:
  = @scientific_school.creator_login
%p
  %b Creator data:
  = @scientific_school.creator_data

= link_to 'Edit', edit_scientific_school_path(@scientific_school)
\|
= link_to 'Back', scientific_schools_path
