%h1 Список пользователей

%table.table-condensed
  %tr
    %th Логин
    %th Логин создателя роли
    %th Дополнительные данные о создателе
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.login
      %td
      %td
      %td= link_to 'Показать', user, class: 'btn btn-info'
      %td= link_to 'Редактировать', edit_user_path(user), class: 'btn btn-info'
      %td= link_to 'Удалить', user, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: 'btn btn-info'

%br


.row
  .container-fluid
    .col-sm-4
      - @users.each do |user|
        .thumbnail
          .caption.center
            %h5 Логин
            %p= user.login
            %h5 Логин создателя
            %p
            %h5 Доп. данные о создателе
            %p
  
= link_to 'Новый пользователь', new_user_path, class: 'btn btn-default'
