%h1 Список пользователей

.row
  - @users.each do |user|
    .col-lg-3
      .thumbnail
        .caption
          %p= 'Логин: ' + user.login
          -if  user.default_role.nil?
            %p Роль по умолчанию: не назначена
          -else
            %p= 'Роль по умолчанию: ' + user.default_role.to_text 
          = link_to user, class: 'btn btn-info' do
            %i.fa.fa-eye.fa-lg
          = link_to edit_user_path(user), class: 'btn btn-warning' do
            %i.fa.fa-pencil.fa-lg
          = link_to  user, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: 'btn btn-danger' do
            %i.fa.fa-close.fa-lg
%br  
= link_to 'Новый пользователь', new_user_path, class: 'btn btn-default'

