=link_to_back
= link_to 'Редактировать', edit_user_path(@user), class: 'btn btn-default'
%p#notice= notice

%p
  %b Логин:
  = @user.login
%p
  %b Персона:
  = @user.person.full_name
- if !@user.role_users.empty?
  %p
    %b Роли:
    %ul
      - @user.role_users.each do |r|
        %li= r.to_text


-#\|
-#= link_to 'Вернуться к списку', users_path, class: 'btn btn-default'
