%p#notice= notice

%p
  %b Login:
  = @user.login
%p
  %b Creator login:
  = @user.creator_login
%p
  %b Creator data:
  = @user.creator_data

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
