%h1 Listing research_effort_files

%table
  %tr
    %th Description
    %th Research effort
    %th
    %th
    %th

  - @research_effort_files.each do |research_effort_file|
    %tr
      %td= research_effort_file.description
      %td= research_effort_file.research_effort
      %td= link_to 'Show', research_effort_file
      %td= link_to 'Edit', edit_research_effort_file_path(research_effort_file)
      %td= link_to 'Destroy', research_effort_file, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Research effort file', new_research_effort_file_path
