%h1 Listing monograph_authors

%table
  %tr
    %th Monograph
    %th Person
    %th Old lastname
    %th Is teacher
    %th Is staffteacher
    %th Is student
    %th Is postgrad
    %th Details
    %th Pages
    %th
    %th
    %th

  - @monograph_authors.each do |monograph_author|
    %tr
      %td= monograph_author.monograph
      %td= monograph_author.person
      %td= monograph_author.old_lastname
      %td= monograph_author.is_teacher
      %td= monograph_author.is_staffteacher
      %td= monograph_author.is_student
      %td= monograph_author.is_postgrad
      %td= monograph_author.details
      %td= monograph_author.pages
      %td= link_to 'Show', monograph_author
      %td= link_to 'Edit', edit_monograph_author_path(monograph_author)
      %td= link_to 'Destroy', monograph_author, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Monograph author', new_monograph_author_path
