%p#notice= notice

%p
  %b Monograph:
  = @monograph_author.monograph
%p
  %b Person:
  = @monograph_author.person
%p
  %b Old lastname:
  = @monograph_author.old_lastname
%p
  %b Is teacher:
  = @monograph_author.is_teacher
%p
  %b Is staffteacher:
  = @monograph_author.is_staffteacher
%p
  %b Is student:
  = @monograph_author.is_student
%p
  %b Is postgrad:
  = @monograph_author.is_postgrad
%p
  %b Details:
  = @monograph_author.details
%p
  %b Pages:
  = @monograph_author.pages

= link_to 'Edit', edit_monograph_author_path(@monograph_author)
\|
= link_to 'Back', monograph_authors_path
