%h1 Список пар пользователь-роль

%table.table-condensed
  %tr
    %th Пользователь
    %th Роль
    %th Подразделение
    %th
    %th
    %th

  - @role_users.each do |role_user|
    %tr
      %td= role_user.user.login
      %td= role_user.role.name
      %td= role_user.to_text
      %td= link_to 'Показать', role_user
      %td= link_to 'Редактировать', edit_role_user_path(role_user)
      %td= link_to 'Удалить', role_user, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'Новая пара', new_role_user_path, class: 'btn btn-default'
