%p#notice= notice

%p
  %b Пользователь:
  = @role_user.user.login
%p
  %b Роль:
  = @role_user.role.name
%p
  %b Подразделение:
  = @role_user.to_text

= link_to 'Редактировать', edit_role_user_path(@role_user), class: 'btn btn-default'
\|
= link_to 'Вернуться', role_users_path, class: 'btn btn-default'
