= form_for @role do |f|
  - if @role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-lg-6
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :priority
        = f.number_field :priority, class: 'form-control', in: 0..10 
  .actions
    = f.submit 'Сохранить', class: 'btn btn-primary'

