%h1 Список стандартных ролей

%table.table-condensed
  %tr
    %th Название
    %th Приоритет
    %th
    %th
    %th

  - @roles.each do |role|
    %tr
      %td= role.name
      %td= role.priority
      %td= link_to 'Показать', role
      %td= link_to 'Редактироавть', edit_role_path(role)
      %td= link_to 'Удалить', role, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'Новая роль', new_role_path, class: 'btn btn-default'
