%p#notice= notice

%p
  %b Название:
  = @role.name
%p
  %b Приоритет:
  = @role.priority

= link_to 'Редактировать', edit_role_path(@role), class: 'btn btn-default'
\|
= link_to 'Вернуться', roles_path, class: 'btn btn-default'
