%p#notice= notice

%p
  %b Name:
  = @grnti.name
%p
  %b Grnti:
  = @grnti.grnti
%p
  %b Creator login:
  = @grnti.creator_login
%p
  %b Creator data:
  = @grnti.creator_data

= link_to 'Edit', edit_grnti_path(@grnti)
\|
= link_to 'Back', grntis_path
