%p#notice= notice

%p
  %b Name:
  = @state_program.name
%p
  %b Creator login:
  = @state_program.creator_login
%p
  %b Creator data:
  = @state_program.creator_data

= link_to 'Edit', edit_state_program_path(@state_program)
\|
= link_to 'Back', state_programs_path
